.d-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #6b7a8e;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
}

.paragraph {
    display: block;
    width: auto;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ededed;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
}

.icon {
    margin-right: 10px;
}